$color-purple-1:#4B3F72;
$color-white-1:#EAF6FF;

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    background-color: $color-purple-1;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
}

.nav{

    form{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1.5rem;

        button{
            position: relative;
            border: none;            
            transform: translateX(-3rem);
            background-color: transparent;
            z-index: 1;
        }
    }

    &-search{
        width: 25%;
        min-width: 25rem;
        padding: 1rem;
        background-color: rgba($color: $color-white-1, $alpha: .3);
        border-radius: 1.5rem;
        border: none;
        cursor: pointer;
        transition: all .4s;

        &:hover, &:focus{
            outline: none;
            background-color: rgba($color: $color-white-1, $alpha: .5);
        }

    }

    &-icon{
        width: 2rem;
        height: 2rem;
        position: relative;
        z-index: 2;
        fill: $color-purple-1;
        background-color: transparent;
        cursor: pointer;
        display: block;

        &:hover .nav-search{
            background-color: rgba($color: $color-white-1, $alpha: .5);
        }
    }
}


.main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   
}

.movie_box{
    
}

